{% extends 'SOFFTAnglaisBundle::layout.html.twig' %}

{% block javascript%}
<script src="{{ asset('bundles/anglais/viewmot.js') }}" type="text/javascript"></script>
<script type="text/javascript">
    var id = {{mot.id}};
    </script>


{% endblock %}

{% block css %}

    {{ parent() }}
<style type="text/css">


       
       #liste col.mot {
           width: 450px;
           }
           
       #liste col.link {
           width: 80px;
           }

       textarea#sofft_anglaisbundle_mottype_fr, 
       TEXTAREA#sofft_anglaisbundle_mottype_en, 
       TEXTAREA#sofft_anglaisbundle_mottype_explication {
           width: 100%;
           }
       
       TEXTAREA#sofft_anglaisbundle_mottype_explication {
           height: 200px;
           }
</style>

{% endblock %}

{% form_theme form.tags 'SOFFTAnglaisBundle:Form:tag.html.twig' %}

{% block body %}

<form action="#" method="post" {{ form_enctype(form) }}>
    
    {{form_errors(form) }}
        
<table id="liste" class="rounded">
    <colgroup>
        <col id="en" class="mot" />
        <col id="fr" class="mot" />

    </colgroup>
    <thead>
        <th> Anglais </th>
        <th> Français </th>
 
    </thead>
    <tbody>
        <tr >
            <td> {{form_widget(form.en)}} </td>
            <td> {{form_widget(form.fr)}} </td>
           
        </tr>
        <tr>
            <th colspan="2">
                Explications
            </th>
        </tr>
        
        <tr>
            <td colspan="2">
                {{form_widget(form.explication)}}
            </td>
        </tr>

    </tbody>
    
</table>
                {% autoescape false %}
    {{form_rest(form)}}
                {% endautoescape %}
    <div class="medium warning btn"> <button type="submit"  >Envoi</button></div>
    <div class="medium primary btn" style="text-align: right;"><a href="{{ path('SAB_liste_mot') }}" >Retour à la liste</a></div>
</form>




{% endblock %}