<!DOCTYPE html> 
<html>
    <head>
        <title>SOFFT Anglais Technique | {% block title %}Titre par défaut{% endblock %} </title>
        
        <script src="{{ asset('bundles/anglais/jquery-1.7.2.min.js') }}" type="text/javascript"></script>
        
        {% block javascript %}
        
            <!-- Aucun fichier javascript ajouté par le template -->
        {% endblock %}
            
                    <link rel="stylesheet" media="screen" href="http://openfontlibrary.org/face/junction" rel="stylesheet" type="text/css"/> 


        <style type="text/css">
            #menu {
                padding: 10px;
                
                margin-bottom: 10px;
                background-color: white;
                border: 1px solid #4444dd;
                width: 1000px;
                margin-left: auto;
                margin-right: auto;
                text-align: right;
            }
            #menu ul {
                list-style-type: none;
            }
            #menu ul li {
                display: inline;
                padding-left: 10px;
                
            }
            #body {
    
                margin-left: auto;
                margin-right: auto;
                width: 1010px;
            }

            ul.pagination  {
                list-style-type: none;
            }

            ul.pagination  li {
                display: inline;
                margin-left: 5px;
                margin-right: 5px;
            }
            
            *, p, ul, li, div, form, input {
                font-family: 'Junction';
                font-weight: normal;
                font-style: normal;
            }
            input[type=password], input[type=text] {
                border-radius: 2px;
                border: 1px solid #4444dd;
           }
           
           input[type=password]:focus, input[type=text]:focus {
            box-shadow: 2px 2px 3px rgba(68,68,221,0.45), -2px -2px 3px rgba(68,68,221,0.45);
           }
           
           div.flash-notice {
               background-color: rgba(68,68,221,0.65);
               color: white;
               font-weight: bold;
               box-shadow: 2px 2px 3px rgba(68,68,221,0.45), -2px -2px 3px rgba(68,68,221,0.45);
               text-align: center;
               paddding: 15px;
               margin-left: 50px;
               margin-right: 50px;
               }
        </style>

        {% block css %}
            <!-- Aucune instruction css ajouté par le template -->
        {% endblock %}
        
    </head>
    <body>
        <div id="menu">
            <ul>
                <li><a href="{{path('SAB_quizz_liste') }}">Quizzes</a></li>
                <li><a href="{{path('SAB_create_mot')}}">Ajouter un mot</a></li>
                <li><a href="{{path('SAB_liste_mot')}}">Liste des mots</a></li>
                <li><a href="{{path('logout')}}">Se déconnecter</a></li>
            </ul>
        </div>
        <div id="body">

            {% for message in app.session.flashbag.get('notice') %}
                <div class="flash-notice">
                    {{ message }}
                </div>
            {% endfor %}
            
            

            {% block body %}Rien dans le body...{% endblock %}
        </div>
    </body>
</html>
